<table class="row header">
    <tr>
        <td>
            <h1><%= raw Spree.t('order_mailer.cancel_email.order_summary_canceled', number: "<span class='link'>#{@order.number}</span>") %></h1>
            <p class="text-descr">
                <%= Spree.t('order_mailer.cancel_email.dear_customer') %> <%= Spree.t('order_mailer.cancel_email.instructions') %>
            </p>
            <table class="container uppercase text-left">
                <tr>
                    <td class="wrapper last">
                        <table class="twelve columns">
                            <tr><td colspan="4"><div class="hr"></div></td></tr>
                            <%= render collection: @order.line_items, partial: 'spree/shared/mailer_line_item', as: :line_item %>
                            <tr><td colspan="4"><div class="hr"></div></td></tr>
                            <%= render 'spree/order_mailer/subtotal', order: @order %>
                            <% @order.adjustments.eligible.each do |adjustment| %>
                                <%= render 'spree/order_mailer/adjustment', adjustment: adjustment %>
                            <% end %>
                            <%= render 'spree/order_mailer/total', order: @order %>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
        <td class="expander"></td>
    </tr>
</table>
